.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas:
  "header header header"
  "nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
   grid-gap: 5px; 
}

.header{
  grid-area: header;
  background-color: green;
}
.header img{
  width: 4rem;
  padding: 3px 1px 3px 3px;
}

.nav {
  grid-area: nav;
  background-color: burlywood;
}

.content {
  grid-area: content;
  background-color: cornflowerblue;
}


